<div class="container-body">
  {{#each cart}}
  <a class="card-link" href="/post/{{this.id}}">
    <div class="container container-my">
      <div class="card shadow-sm">
        <div class="card-body"> 
          <img src="images/{{this.picturePath}}" alt="">
          <p class="card-text">{{this.title}}</p>
        </div>
      </div>
    </div>
  </a>
  {{/each}}
</div>
