<form class="post-form" enctype="multipart/form-data" method="post" action="/post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Card name</label>
    <input name="postCardname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Cost</label>
    <input name="postCost" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Damage</label>
    <input name="postDamage" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">City</label>
    <select name="postCity" class="form-control" id="formSelectCities">
      <option disabled selected>Select city</option>
      
    </select>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Picture</label>
      <input name="postPicture" type="file" class="form-control">
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
