<form class="signup-form" method="post" action="/signup">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input name="signupUsername" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="signupPassword" type="password" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input name="signupEmail" type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">City</label>
    <select name="signupCity" class="form-control" id="formSelectCities">
      <option disabled selected>Select city</option>
      
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
