<form class="signup-form" method="post" action="/signin">
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input name="signinEmail" type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="signinPassword" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>