{{#each userPosts}}

<div class="container container-my">
  <div class="card shadow-sm">
    <div class="card-body">
      <img src="/images/testPic.jpg" alt="Здеся нибуя нет, упёздывай отседава">
      <p class="card-text">title: {{this.title}}</p>
      <p class="card-text">cost: {{this.cost}}</p>
      <p class="card-text">damage: {{this.damage}}</p>
    </div>
  </div>
</div>

{{/each}}
