<div class="viewPost">
  <img src="/images/postPicture-1635410960381" class="postview-image" alt="">
  <div>
  <p class="viewpost-text">Name: <span>Мертвый рыцарь</span></p>
  <p class="viewpost-text">Danage: <span>800</span></p>
  <p class="viewpost-text">Cost: <span>320</span></p>
  <p class="viewpost-text">City: <span>320</span></p>
  {{#if user}}
  <button class="btn btn-warning">Contact the seller</button>
  {{/if}}
  </div>
</div>